@model WAD.Models.Gig

@{

    ViewData["Title"] = @Model.GigTitle;
    ViewData["PageHeading"] = @Model.GigTitle;
    Layout = null;

}
<html>
    <head>
        <title>All Gigs</title>
        <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/testing.css" />
    </head>




    <body>
        <div class="topnav">
            <a class="active" href="@Url.Action("Index","Home")">
                Home
                <img class="logimg" src="~/Images/home.png" width="25" height="25">
            </a>

            <div class="dropdown">
                <button class="dropbtn">
                    Gigs
                    <img class="logimg" src="~/Images/gigs.png" width="25" height="25">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("AllFilms","Home")">All Gigs</a>
                    <a href="@Url.Action("CheapGigs","Home")">Less than £150</a>
                    <a href="@Url.Action("MediumPriceGigs","Home")">Less than £250</a>
                    <a href="@Url.Action("ExpensiveGigs","Home")">Over £250</a>
                </div>
            </div>
            <a href="@Url.Action("ManageCart","Home")">
                CART
                <img id ="cartLogo" src="~/Images/cart.png" width="25" height="25">
            </a>
            @if (ViewData["disName"].ToString().Contains("Not"))
            {
                <a id ="active" href="@Url.Action("SignIn","Security")">
                    <span>login</span>
                    <img class="logimg" src="~/Images/login.png" width="20" height="20">
                </a>

            }
            else
            {
                <a href="@Url.Action("Index","CMS")">
                    @ViewData["disName"]

                    <img class="logimg" src="~/Images/login.png" width="20" height="20">

                </a>
            }
        </div>
        <div class="container">
            <h1>Gig Description<br /></h1>
            <p>@Model.GigDescription</p>

            <button type="button" style="margin:auto;" onclick="loadDoc()">Show Price Band</button>
            <div id="demo">

            </div>
            @if (Model.GigPrice < 150)
            {
                <p id="pricee" style="font-size:15px;visibility:hidden; text-align:center; color:green;"><strong>CHEAP</strong>[Current Gig Price : @Model.GigPrice]</p>
            }
            else if (Model.GigPrice > 150 && Model.GigPrice < 250)
            {
                <p id="pricee" style="font-size:15px;visibility:hidden;text-align:center;color:green;"><strong>MEDIUM</strong>[Current Gig Price : @Model.GigPrice]</p>
            }
            else
            {
                <p id="pricee" style="font-size:15px;visibility:hidden;text-align:center;color:green;"><strong>EXPENSIVE</strong>[Current Gig Price : @Model.GigPrice]</p>
            }
            <script>
                function loadDoc() {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById("demo").innerHTML =
                                this.responseText;
                        }
                    };
                    xhttp.open("GET", "/AJAX/altText.txt", true);
                    xhttp.send();
                    document.getElementById("pricee").style.visibility = "visible";
                }
            </script>
           
            <form method="post" style="text-align:center;">

                <input type="hidden" value="@Model.GigID" id="GigID" name="GigID" />

                <input type="hidden" value="@Model.GigTitle" id="GigTitle" name="GigTitle" />

                <input type="hidden" value="@Model.GigPrice" id="GigPrice" name="GigPrice" />

                <div>

                    <label for="OrderQuantity">Quantity</label>

                    <input type="number" id="OrderQuantity" name="OrderQuantity" min="1" max="10" value="1" />

                </div>

                <div>
                    @if (ViewData["disName"].ToString().Contains("Not"))
                    {
                        <p>You must be logged in to add an item to your cart</p>
                    }
                    else
                    {
                        <input type="submit" value="Add To Cart" class="cta" id="but1" onclick="addedToCart()" />

                    }
                </div>
                <script>
                    function addedToCart() {
                        alert("Ticket has been added to cart!");

                    }
                    function checkLogin() {
                        alert("nein nein");
                    }
                </script>

            </form>
            <div class="shoppingCart">
                @await Component.InvokeAsync("ShoppingCart")
            </div>
        </div>
        <header style= "background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/Images/@Model.GigImage'); background-repeat: round;">
            <h1>@Model.GigTitle</h1>
            
        </header>

    </body>
    </html>



