@{

    ViewData["Title"] = "Film Search";
    Layout = null;

}
<head>
    <title>All Gigs</title>
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/search.css">
</head>

<html>


<body>
    <div class="topnav">
        <a href="@Url.Action("Index","Home")">
            Home
            <img class="logimg" src="~/Images/home.png" width="25" height="25">

        </a>

        <div class="dropdown">
            <button class="dropbtn">
                Gigs
                <img class="logimg" src="~/Images/gigs.png" width="25" height="25">

                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="@Url.Action("AllFilms","Home")">All Gigs</a>
                <a href="@Url.Action("CheapGigs","Home")">Less than £150</a>
                <a href="@Url.Action("MediumPriceGigs","Home")">Between £150 and £250</a>
                <a href="@Url.Action("ExpensiveGigs","Home")">Over £250</a>
            </div>
        </div>
        <a href="@Url.Action("ManageCart","Home")">
            CART
            <img class="logimg" src="~/Images/cart.png" width="25" height="25">
        </a>
        @if (ViewData["disName"].ToString().Contains("Not"))
        {
            <a href="@Url.Action("SignIn","Security")">
                <span>login</span>
                <img class="logimg" src="~/Images/login.png" width="20" height="20">
            </a>

        }
        else
        {
            <a href="@Url.Action("Index","CMS")">
                @ViewData["disName"]

                <img class="logimg" src="~/Images/login.png" width="20" height="20">

            </a>
        }
    </div>


    <section class="noflex">
        <form asp-action="Search" method="get" class="searchBar">
            <div>

                <label for="SearchString" style="font-weight:900;">Search by Title: </label> <input type="text" name="SearchString" id="SearchString" />


            </div>
        </form>

        <div class="results">


            @if (ViewData["SearchString"] != null && (string)ViewData["SearchString"] != String.Empty)

            {
                <p>Results:</p>
                @foreach (var item in Model)

                {

                    <p>@item.GigTitle @item.ReleaseDate <a asp-controller="Home" asp-action="FilmDetails" asp-route-id="@item.GigID" style="text-decoration:none;color:green;">Details</a></p>
                    
                }


                if (Model.Count == 0)
                {

                    <p>Sorry no matches.</p>

                }

            }


        </div>

    </section>

</body>
</html>