@model SignIn
@{
    Layout = null;
}
<html>

    <head>
        <title>All Gigs</title>
        <link rel="shortcut icon" type="image/png" href="~/Images/favicon.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/css/login - Copy.css">
    </head>

    <body>
        <div class="topnav">
            <a href="@Url.Action("Index","Home")">
                Home
                <img class="logimg" src="~/Images/home.png" width="25" height="25">

            </a>

            <div class="dropdown">
                <button class="dropbtn">
                    Gigs
                    <img class="logimg" src="~/Images/gigs.png" width="25" height="25">

                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="@Url.Action("AllFilms","Home")">All Gigs</a>
                    <a href="@Url.Action("CheapGigs","Home")">Less than £150</a>
                    <a href="@Url.Action("MediumPriceGigs","Home")">Between £150 and £250</a>
                    <a href="@Url.Action("ExpensiveGigs","Home")">Over £250</a>
                </div>
            </div>
            <a href="@Url.Action("ManageCart","Home")">
                CART
                <img class="logimg" src="~/Images/cart.png" width="25" height="25">
            </a>
           
                <a href="@Url.Action("SignIn","Security")">
                    <span>login</span>
                    <img class="logimg" src="~/Images/login.png" width="20" height="20">
                </a>

            
        </div>
        <div class="op-modal">
            <div class="opmodal-content">

                <video autoplay muted loop id="loginLogo" width="200" height="200" onerror="this.src='/Images/arethaFF.jpeg'">
                    <source src="~/Videos/logo.mp4" type="video/mp4">
                    <img src="~/Images/arethaFF.jpeg" class="imga" />
                    Your browser does not support HTML5 video.
                </video>
                <section>
                    <form asp-controller="Security" asp-action="SignIn" method="post">
                        <div>
                            <label asp-for="UserName"></label>
                            <input id="uname" type="text" asp-for="UserName" />
                        </div>
                        <div>
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" />
                        </div>
                        <div>
                            <label asp-for="RememberMe"></label>
                            <input type="checkbox" asp-for="RememberMe" />
                        </div>
                        <div>
                            <button type="submit" class="add" onclick="nameValue()">Sign In</button>
                            <script>
                                function nameValue() {
                                    document.getElementById("myName").value = document.getElementById("uname").value;
                                }
                            </script>

                        </div>


                        <div asp-validation-summary="All" class="message"></div>

                        <div class="buttonCA"><a style="text-decoration:none;color:white; " asp-controller="security" asp-action="register">Create Account</a></div>

                    </form>
                </section>
            </div>
        </div>

    </body>
</html>
